{% extends 'base.html' %}

{% load static %}

{% block title %}この作品にコメント{% endblock %}

{% block header %}
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            
            <div class="text-center my-5">
                <h1 class="fw-bolder">返信ページ</h1>
                <p class="lead mb-0">このページで作品にコメントができます</p>
                <input type="button" value="戻る" onClick="javascript:history.go(-1);">
            </div>
        </div>
    </header>
{% endblock %}

{% block contents %}
<div class="col-lg-8">
    <!-- Featured blog post-->
    <div class="card mb-4">
        <div class="card-body">
            <a href="{% url 'tunatoriapp:profile' publish.user.id %}">{{publish.user.username}}</a>
            <h2 class="mb-0">タイトル：{{ publish.title }}</h2>
            {% if publish.rating_ave == 0 %}
            <p>平均評価：☆---</p>
            {% else %}
            <p>平均評価:☆{{ publish.rating_ave }}</p>
            {% endif %}
            <img src="/media/{{publish.image}}" width="100%">
            <p>【作品について】<br>
                {{ publish.detail }}</p>
        <!-- </div>
    </div>
    <div class="card mb-4">
        <div class="card-body"> -->
        {% if user.is_authenticated  %}
            {% if bookmark %}
            <a class="btn btn-primary" href="{% url 'tunatoriapp:bookmark_del' bookmark %}">ブックマーク解除</a>
            {% else %}
            <a class="btn btn-primary" href="{% url 'tunatoriapp:bookmark' publish.id %}" >ブックマークする</a>
            {% endif %}
        {% endif %}
            <h3>【コメント一覧】</h3>
            <ul class="list-unstyled mb-0">
                {% if replys %}
                    {% for reply in replys %}
                        <li>☆{{reply.rating}} | {{reply.user.username}}：{{reply.comment}}</li>
                    {% endfor %}
                {% else %}
                    <li>コメントはまだありません</li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <h3>【評価する】</h3>
            {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit">送信！</button>
            </form>
            {% else %}
            <h3>ログインすると評価ができます</h3>
            {% endif %}
        </div>
    </div>
</div>
<!-- Side widgets-->
{% endblock %}
{% block category%}
<div class="col-lg-4">
    <div class="card mb-4">
        <div class="card-header">評価の仕方</div>
        <div class="card-body">
            <div>
                <div>
                    <ul class="list-unstyled mb-0">
                        <li>ログインすることでコメントができます</li>
                        <li>評価値は★５から★１までが選択できます</li>
                        <li>コメントは必須です</li>
                        <li>入力後は投稿ボタンをクリックして下さい</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
