{% extends 'base.html' %}

{% block title %}この作品にコメント{% endblock %}

{% block contents %}
    <body>
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">返信ページ</h1>
                    <p class="lead mb-0">このページで作品にコメントができます</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <div class="card-body">
                            <a href="{% url 'tunatoriapp:profile' publish.user_id.id %}">{{publish.user_id.username}}</a>
                            <h2 class="mb-0">タイトル：{{ publish.title }}</h2>

                            {% if rating == 0 %}
                            <p>平均評価値：評価はまだないよ</p>
                            {% else %}
                            <p>平均評価値：{{ rating }}</p>
                            {% endif %}
                            <img src="/media/{{publish.image}}" width="100%">
                            <p>【作品について】<br>
                                {{ publish.detail }}</p>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3>【コメント一覧】</h3>
                            <ul class="list-unstyled mb-0">
                                {% if replys %}
                                    {% for reply in replys %}
                                        <li>{{reply.user_id.username}}：{{reply.comment}}</li>
                                    {% endfor %}
                                {% else %}
                                    <li>コメントはありません</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3>【評価する】</h3>
                            <form method="post">
                                {% csrf_token %}
                                {{ form }}
                                <button type="submit">投稿！</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">評価の仕方</div>
                        <div class="card-body">
                            <div>
                                <div>
                                    <ul class="list-unstyled mb-0">
                                        <li>評価値は★５から★１までが選択できます</li>
                                        <li>コメントは必須です</li>
                                        <li>入力後は投稿ボタンをクリックして下さい</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
{% endblock %}